
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   @* <link rel="shortcut icon" type="~/image/x-icon" href="@Url.Content("~/assets/img/biyinzika_favicon.png")" />*@
    @*<title>Login - Tashi OTS</title>*@
    <title>WLA</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" ~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!--[if lt IE 9]>
        <script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    @*<style>
            .account-box .account-btn {
                background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
                box-shadow: 0px 4px 15px -2px rgb(0, 195, 250);
               color:#fff;

            }
                .account-box .account-btn:hover {
                    color: #fff;
                }
        </style>*@


    <style type="text/css">
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: 20px;
            position: relative;
            z-index: 2;
        }

        .container {
            padding-top: 50px;
            margin: auto;
        }

        .tooltip {
            width: 350px;
            position: absolute;
            z-index: 1020;
            display: block;
            visibility: visible;
            padding: 5px;
            font-size: 13px;
            opacity: 0;
            filter: alpha(opacity=0)
        }

            .tooltip.in {
                opacity: .8;
                filter: alpha(opacity=80)
            }


        .tooltip-inner {
            width: auto;
            padding: 15px 8px;
            color: #FFF;
            text-align: left;
            background: #FFF;
            color: black;
        }

        .tooltip-content {
            font-size: 12px;
            color: #333;
            border: 1px solid black;
            background: #fff;
            line-height: 18px;
            border-radius: 3px;
        }

        .tooltip-title {
            width: 100%;
            line-height: 32px;
            color: #fff;
            font-size: 14px;
            line-height: 2;
            padding-left: 8px;
            background: #ff9b44;
            text-align: center;
            font-weight: bold;
        }

        .tooltip-arrow {
            position: absolute;
            width: 10px;
            height: 10px;
        }

        .capitalletter {
            text-transform: capitalize;
        }

        .account-logo img{
            width:30%;
        }
    </style>
</head>
<body>
    <div class="main-wrapper">
        <div class="account-page">
            <div class="container">
                <h3 class="account-title" style="margin:0px;padding:0px; font-size: 24px!important"> HRID Workload Analysis  </h3>
                <h3 class="account-title" style="margin-top:10px; font-size: 24px!important;"> System</h3>
                @*<h3 class="account-title" style="margin:0px;padding:0px; font-size: 24px!important"> HONDA HRMS </h3>
                <h3 class="account-title" style="margin-top:10px; font-size: 24px!important">Login</h3>*@
                <div class="account-box">
                    <div class="account-wrapper" >
                        <div class="account-logo" style="margin-bottom: -13px!important;">
                            <a href="javascript:;" style="cursor: default;"><img src="~/assets/img/biyinzika.png" alt="Honda HRMS"></a>
                         
                        </div>
                        <form >
                            <div class="form-group form-focus mytooltip">
                                <label class="control-label">Employee ID</label>
                                <input style="height:50px!important" class="form-control floating capitalletter" id="txt_email" type="text" title="<div class='tooltip-content'><div class='tooltip-title'>Employee ID</div><div class='tooltip-inner'><b>Must contain 6 numbers </b></br>For example - 000384 </br></div></div>" data-html="true" rel="tooltip">

                            </div>
                            <div class="form-group form-focus mytooltip">
                                <label class="control-label">Password</label>
                                <input style="height:50px!important"  class="form-control floating " type="password" id="txt_password"  data-html="true" rel="tooltip">

                                <span id="pwdshow" class="fa fa-fw fa-eye field-icon toggle-password" onclick="funShowPwd();"></span>
                            </div>
                            <div class="form-group text-center">

                                <button class="btn btn-primary btn-block account-btn" type="button" id="btn_login">Login</button>

                            </div>
                           
                            <div class="text-center">
                                 
                                <a href="~/home/forgetpassword">Forgot your password?</a>
                            </div>
                        </form>

                        <div class="notification-popup hide">
                            <p>
                                <span class="task"></span>
                                <span class="notification-text"></span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff="#sidebar"></div>
    <script type="text/javascript" src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#txt_email").focus();
            });  
            $(".mytooltip").tooltip({
                selector: "input[rel=tooltip]",
                placement: "right"
            }); 

            $('#txt_password').keypress(function (e) {
                // Check Enter key press
                if (e.which == 13) {
                    // Manually trigger submit
                    $('#btn_login').focus().click();
                    //Block after submit to stay
                    e.preventDefault();
                }
            });
            $('#txt_email').keypress(function (e) {
                // Check Enter key press
                if (e.which == 13) {
                    // Manually trigger submit
                    $('#btn_login').focus().click();
                    //Block after submit to stay
                    e.preventDefault();
                }
            });
            $('#btn_login').on('click', function () {
                var user_name = $('#txt_email').val();
                var password = $('#txt_password').val();
                if (user_name != "" && password != "") {
                    $.ajax({
                        type: 'POST',
                        url: '/home/Login',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(
                            {
                                'user_name': user_name, 'password': password
                            }
                        ),
                        dataType: 'json',
                        success: function (res) {

                            if (res=="") {
                                window.location.href = "/Admin/TimeSheetCalendar";
                            } else {
                                alert(res);
                                $('#txt_email').val("");
                                $('#txt_password').val("");

                            }
                         
                        }
                    });
                }
                else if (user_name == "") {
                    alert("User Name can't be blank.");
                    setTimeout(function () { $('#txt_email').focus(); });
                }
                else {
                    alert("Password can't be blank.");
                    setTimeout(function () { $('#txt_password').focus(); });
                }

            });


        });
        function funShowPwd() {

            var x = document.getElementById("txt_password");
            $("#pwdshow").toggleClass("fa-eye fa-eye-slash");
            if (x.type == "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    </script>
</body>
</html>