
@{
    ViewBag.Title = "securitypolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderPartial("_SettingsMenu"); }
<script type="text/javascript">
    $(document).ready(function () {
        $('a[href$="' + "/securitypolicy" + '"]').closest("li").addClass('active');
    });
    function clearText() {
        $("#txt_1").val('');
        $("#txt_2").val('');
        $("#txt_3").val('');
        $("#txt_4").val('');
        $("#txt_5").val('');
        $("#txt_6").val('');
        $("#txt_7").val('');
        $("#txt_8").val('');
        $("#txt_88").val('');
        $("#txt_9").val('');
    }

</script>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal">
            <h4 class="page-title">Security Policy</h4>
            <!----<div class="form-group">
                <label class="col-lg-3 control-label">Invoice prefix</label>
                <div class="col-lg-9">
                    <input class="form-control" value="INV" type="text">
                </div>
            </div>---->
            <!---<div class="form-group">
                <label class="col-lg-12 control-label">Block user when a number of unsuccessful logins is detected in a given interval.</label>
                <div class="col-lg-3">
                    <input class="form-control" placeholder ="Ex 720" type="text">
                </div>
                <label class="col-lg-6 control-label">Number of unsuccessful logins:</label>
                <div class="col-lg-3">
                    <input class="form-control" placeholder ="Ex 720" type="text">
                </div>
            </div>---->

            <div class="form-group">
                <label class="col-lg-9 control-label">Block user when a number of unsuccessful logins is detected in a given interval. Number of unsuccessful logins:</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_1" placeholder="5" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-9 control-label">Number of unsuccessful logins in minutes:</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_2" placeholder="30" type="text">
                </div>
            </div>



            <div class="form-group">
                <label class="col-lg-9 control-label">Expiration limit for inactive HTTP session (in minutes):</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_3" placeholder="420" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-9 control-label">Maximum duration of HTTP session (in minutes):</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_4" placeholder="720" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-9 control-label">Expiration of data after session is locked (in minutes):</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_5" placeholder="60" type="text">
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-9 control-label">Minimum number of characters in password:</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_6" placeholder="8" type="text">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-9 control-label">Password must include non-alphabetical characters.</label>
                <div class="col-lg-3">
                    <!----<input class="form-control" value="INV" type="text">---->
                    <input type="checkbox" checked="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-9 control-label">Frequency of required password reset (in days, max. 365):</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_7" placeholder="20" type="text">


                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-9 control-label">Require that password cannot be one of last specified number of used passwords (max. 5):</label>
                <div class="col-lg-3">
                    <input class="form-control" id="txt_8" placeholder="2" type="text">


                </div>
            </div>

            <!----
            <div class="form-group">
                <label class="col-lg-3 control-label">Invoice Logo</label>
                <div class="col-lg-5">
                    <input class="form-control" type="file">
                    <span class="help-block">Recommended image size is 200px x 40px</span>
                </div>
                <div class="col-lg-4">
                    <div class="img-thumbnail pull-right"><img src="assets/img/logo3.png" class="img-responsive" alt="" width="140" height="40"></div>
                </div>
            </div>----->
            <br>
            <h4 class="page-title">Access Control</h4>

            <div class="form-group">
                <!----<label class="col-lg-9 control-label">Require that password cannot be one of last specified number of used passwords (max. 5):</label>--->
                <label class=" col-lg-9 control-label">
                    You can filter your access to the  <i> <u>Online Time sheet</u></i>  platform instance by external Internet Protocols (IP's) sources by entering acceptable IP and or IP range.
                    <br>
                    <br>* Please Note: If the check box is left blank, IP ranges will be unrestricted.
                    <br><br>Please ensure your current IP is entered to prevent blocking your access once the save & update button is selected. Your current IP address is: 43.225.72.10
                    <br><br>The following are acceptable notations of IP addresses:

                    <br>12.12.13.14
                    <br>12.32.12.32/24 (CIDR notation)
                    <br>127.0.0.15
                </label>

                <br>
                @*<div class="form-group ">
                        <div class="col-lg-9">
                            <label class="control-label">Enable Access Control  </label>
                            <div class="col-lg-9">
                                <input type="checkbox">
                            </div>
                            </div>
                    </div>*@


            </div>
            <div class="form-group ">
                <label class="col-lg-4 control-label">Enable Access Control  </label> <input type="checkbox">

            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Allowed IPs:</label>
                <div class="col-lg-9">
                    <textarea class="form-control" id="txt_88" rows="5"></textarea>
                </div>
            </div>
            <br> <br>




            <div class="form-group">
                <label class="col-lg-4 control-label">Enable Block Control</label> <input type="checkbox">

            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Blocked IPs:</label>
                <div class="col-lg-9">

                    <textarea class="form-control" id="txt_9" rows="5"></textarea>


                </div>

            </div>
            <br>



            <div class="col-sm-12 m-t-20 text-center">
                <button type="button" class="btn btn-primary">Save &amp; Update</button>
                <button type="button" onclick="clearText();" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>

